---
interface Props {
	slug: string;
	media: string;
	type: "image" | "video";
	poster?: string;
	alt: string;
}

const { slug, media, type, poster, alt } = Astro.props;
---

<div data-carousel-item>
	<a href={`/gallery/${slug}`}>
		{
			type === "video" ? (
				<video
					src={media}
					poster={poster}
					preload="none"
					muted
					aria-label={alt}
					transition:name={`gallery-${slug}`}
				/>
			) : (
				<img
					src={media}
					alt={alt}
					transition:name={`gallery-${slug}`}
				/>
			)
		}
	</a>
</div>
